include=~/.config/fuzzel/keybindings.ini
include=~/.config/fuzzel/catppuccin-mocha.ini

# output=<not set>
font=Iosevka Nerd Font Mono:size=12
dpi-aware=no
use-bold=yes
prompt="> "
placeholder="Type to filter"
icon-theme=Papirus
icons-enabled=yes
# hide-before-typing=no
fields=name,filename,generic
password-character=*
# filter-desktop=no
match-mode=fzf
sort-result=yes
# match-counter=no
# delayed-filter-ms=300
# delayed-filter-limit=20000
show-actions=no
terminal=alacritty
# launch-prefix=<not set>
# list-executables-in-path=yes

anchor=center
# x-margin=0
# y-margin=0
# The (maximum) number of matches to display. This dictates the window height.
lines=15
# Window width, in characters. Margins and borders not included.
width=100
# Number of spaces a tab is expanded to.
tabs=4
# Horizontal padding between border and icons and text. In pixels, subject to output scaling.
horizontal-pad=40
# Vertical padding between border and text. In pixels, subject to output scaling.
vertical-pad=8
# Vertical padding between prompt and match list. In pixels, subject to output scaling.
inner-pad=8

# scaling-filter=box
image-size-ratio=0.5

# gamma-correct-blending=no
line-height=40px
# letter-spacing=0

layer=overlay
# keyboard-focus=exclusive
# exit-on-keyboard-focus-loss=yes

cache={{ ansible_facts.user_dir }}/.cache/fuzzel

# render-workers=<number of logical CPUs>
# match-workers=<number of logical CPUs>

[border]
width=1
radius=10

[dmenu]
# mode=text  # text|index
# exit-immediately-if-empty=no
