.widget-buttons-grid {
  font-size: 24px;

  & flowboxchild {
    & > button {
      border-radius: var(--border-radius);

      &.toggle {
        @include toggle-button-background;
        /* style given to the active toggle button */
        background: var(--ctp-#{$theme}-crust);
        color: var(--ctp-#{$theme}-overlay2);

        &:checked,
        &:active {
          background: var(--ctp-#{$theme}-base);
          color: var(--ctp-#{$theme}-text);
        }
      }

      &:hover {
      }
    }

    &:nth-child(3) {
      & > button.toggle:checked label {
        color: var(--ctp-#{$theme}-peach);
      }
    }
  }
}
