.widget-buttons-grid {
  font-size: 24px;

  & flowboxchild {
    & > button {
      border-radius: var(--border-radius);

      &.toggle {
        /* style given to the active toggle button */
        &:checked,
        &:active {
          background: var(--noti-bg-hover);
        }
      }

      &:hover {
      }
    }

    &:nth-child(3) {
      & > button.toggle:checked label {
        color: var(--ctp-#{$theme}-peach);
      }
    }
  }
}
