.widget-title {
  margin: $margin;
  & > label {
    margin-right: $margin;
    font-size: 1.5rem;
  }

  & > button {
    margin-left: $margin;
    border-radius: var(--border-radius);

    /* style given to the active toggle button */
    &:checked,
    &:active {
      background: var(--noti-bg-hover);
    }
  }
}
