:root {
  --widget-volume-icon-size: 32px;
  --widget-volume-expand-icon-size: 24px;
  --widget-volume-row-icon-size: 24px;
}

.widget-volume {
  & > box {
    & > label {
      font-size: var(--widget-volume-icon-size);
      -gtk-icon-size: var(--widget-volume-icon-size);
    }

    & > button {
      font-size: var(--widget-volume-expand-icon-size);
      font-weight: bold;

      @include toggle-button-background;
    }
  }

  /* Each row app icon */
  row image {
    -gtk-icon-size: var(--widget-volume-row-icon-size);
  }
}

.per-app-volume {
  background-color: var(--noti-bg-alt);
  border-radius: var(--border-radius);
  color: var(--text-color);
}
