if [ -d "$HOME/.local/bin" ]; then
    PATH="$HOME/.local/bin:$PATH"
fi

# set path so it includes pyenv
if [ -d "$HOME/.pyenv" ]; then
    PATH="$HOME/.pyenv/bin:$PATH"
    eval "$(pyenv init --path)"
fi

# set path so it includes npm
if [ -d "$HOME/.npm-packages/bin" ]; then
    PATH="$HOME/.npm-packages/bin:$PATH"
fi

# set path so it includes cargo binaries (Rust)
if [ -f "$HOME/.cargo/env" ]; then
    . "$HOME/.cargo/env"
fi

{% if ansible_facts.system | lower == "linux" %}
# Docker socket
DOCKER_SOCKET="/var/run/docker.sock"
if [ -S "${DOCKER_SOCKET}" ]; then
    DOCKER_HOST="unix://${DOCKER_SOCKET}"
fi
{% endif %}

# Add PATH for lua-language-server
if [ -d "/opt/luals/bin" ]; then
    PATH=$PATH:"/opt/luals/bin"
fi

{% if ansible_facts.hostname == "hbuyse-promax14" %}
if [ -d "${HOME}/work/arcanist" ]; then
    PATH="${PATH}:${HOME}/work/arcanist/bin"
fi
{% endif %}

{% if ansible_facts.hostname == "hbuyse-promax14" %}
PERL5_LIB="${HOME}/.local/lib/perl5"
PERL_MB_OPT="--install_base \"${PERL5_LIB}\""
PERL_MM_OPT="INSTALL_BASE=${PERL5_LIB}"
export PERL_MB_OPT PERL_MM_OPT
{% endif %}

export PATH {% if ansible_facts.system | lower == "linux" %}DOCKER_HOST{% endif %}

#  vim: set ts=4 sw=4 tw=0 noet ft=sh :
