[main]
shell=/usr/bin/zsh
login-shell=yes
term=xterm-256color
font=Iosevka Nerd Font Mono:size=10
dpi-aware=no
include={{ foot_themes_dir }}/catppuccin-mocha.ini

#  vim: set ts=4 sw=4 tw=0 noet ft=dosini :
