[Unit]
Description=Dynamic output configuration
Documentation=man:kanshi(1)
ConditionPathExists=%h/.config/kanshi/config
PartOf=sway-session.target
Requires=sway-session.target
After=sway-session.target

[Service]
Type=simple
ExecStart=/usr/bin/kanshi
ExecStop=/bin/kill -INT $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=sway-session.target
;  vim: set ts=4 sw=4 tw=0 noet ft=systemd :
