[defaults]
# Use the Beautiful Output callback plugin.
stdout_callback = beautiful_output
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
# Store collections in the folder
collections_path=./collections
# inject_facts_as_vars defaults False since Ansible 2.24
inject_facts_as_vars = True
