/* Add Catppuccin */
@import url("themes/catppuccin.css");
$theme: "mocha";
$accentuation: "peach";

:root {
  /* Control center */
  --cc-bg: var(--ctp-#{$theme}-mantle);

  --noti-border-color: var(--ctp-#{$theme}-#{$accentuation});
  --noti-bg: var(--cc-bg);
  --noti-bg-alpha: 99%;
  --noti-bg-darker: var(--cc-bg);
  --noti-bg-hover: var(--ctp-#{$theme}-surface1);
  --noti-bg-focus: var(--cc-bg);
  --noti-close-bg: var(--ctp-#{$theme}-red);
  --noti-close-bg-hover: var(--ctp-#{$theme}-#{$accentuation});

  --text-color: var(--ctp-#{$theme}-text);
  --text-color-disabled: var(--ctp-#{$theme}-subtext0);

  --bg-selected: rgb(0, 128, 255);

  --notification-icon-size: 32px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;

  --border: 1px solid var(--noti-border-color);
  --border-radius: 0px;

  --notification-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  --font-size-body: 13px;
  --font-size-summary: 14px;

  /* Deprecated variables (because of their typos). Keeeping them around for backwards compatibility. */
  --hover-tranistion: background 0.15s ease-in-out;
  --group-collapse-tranistion: opacity 400ms ease-in-out;

  --hover-transition: var(--hover-tranistion);
  --group-collapse-transition: var(--group-collapse-tranistion);

  --slider-button-color: var(--ctp-#{$theme}-blue);
  --slider-left-color: var(--ctp-#{$theme}-text);
  --slider-right-color: var(--ctp-#{$theme}-surface1);

  --priority-low: var(--ctp-#{$theme}-green);
  --priority-normal: var(--ctp-#{$theme}-blue);
  --priority-critical: var(--ctp-#{$theme}-red);
}

@import "pre-gtk4-variables";

$margin: 4px;

* {
  font-family: "Iosevka NerdFont Mono";
  transition: 200ms;
}

.close-button {
  /* The notification Close Button */
  background: var(--noti-bg);
  color: var(--noti-close-bg);
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: $margin;
  margin-right: $margin;
  box-shadow: none;
  border: none;
  min-width: 12px;
  min-height: 12px;

  &:hover {
    box-shadow: none;
    background: var(--noti-close-bg);
    color: var(--text-color);
    transition: var(--hover-tranistion);
    border: none;
  }
}

.notification-row {
  background: none;
  outline: none;

  // &:focus {
  //   background: var(--noti-bg-focus);
  // }

  .notification-background {
    padding: 6px 12px;

    // .close-button {
    // }

    .notification {
      /* The actual notification */
      border-radius: var(--border-radius);
      padding: 3px;
      transition: var(--hover-tranistion);
      background: var(--noti-bg) var(--noti-bg-alpha);

      &.low {
        /* Low Priority Notification */
        border-left: 3px solid var(--priority-low);
      }

      &.normal {
        /* Normal Priority Notification */
        border-left: 3px solid var(--priority-normal);
      }

      &.critical {
        /* Critical Priority Notification */
        border-left: 3px solid var(--priority-critical);
      }

      .notification-default-action {
        /* The large action that also displays the notification summary and body */
        padding: $margin / 2;
        margin: 0;
        box-shadow: none;
        background: transparent;
        border: none;
        color: var(--text-color);
        transition: var(--hover-tranistion);
        border-radius: var(--border-radius);

        &:hover {
          -gtk-icon-filter: none;
        }

        &:not(:only-child) {
          /* When alternative actions are visible */
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
        }

        .notification-content {
          background: transparent;
          border-radius: var(--border-radius);
          margin: 4px;
          padding: 0;

          .image {
            /* Notification Primary Image */
            -gtk-icon-filter: none;
            -gtk-icon-size: var(--notification-icon-size);
            border-radius: 100px;
            /* Size in px */
            margin: $margin;
          }

          .app-icon {
            /* Notification app icon (only visible when the primary image is set) */
            -gtk-icon-filter: none;
            -gtk-icon-size: var(--notification-app-icon-size);
            -gtk-icon-shadow: 0 1px 4px black;
            margin: 6px;
          }

          .text-box {
            label {
              /* Fixes base GTK 4 CSS setting a filter of opacity 50% for some odd reason */
              filter: none;
            }

            .summary {
              /* Notification summary/title */
              font-size: var(--font-size-summary);
              font-weight: bold;
              background: transparent;
              color: var(--text-color);
              text-shadow: none;
            }

            .time {
              /* Notification time-ago */
              font-size: var(--font-size-summary);
              font-weight: bold;
              background: transparent;
              color: var(--text-color-disabled);
              text-shadow: none;
              margin-right: 20px;
            }

            .body {
              /* Notification body */
              font-size: var(--font-size-body);
              font-weight: normal;
              background: transparent;
              color: var(--text-color);
              text-shadow: none;
            }
          }

          progressbar {
            /* The optional notification progress bar */
            margin-top: $margin;
          }

          .body-image {
            /* The "extra" optional bottom notification image */
            margin-top: $margin;
            background-color: white;
            -gtk-icon-filter: none;
          }

          .inline-reply {
            /* The inline reply section */
            margin-top: $margin;

            .inline-reply-entry {
              background: var(--noti-bg-darker);
              color: var(--text-color);
              caret-color: var(--text-color);
              border: var(--border);
              border-radius: var(--border-radius);
            }

            .inline-reply-button {
              margin-left: 4px;
              background: var(--noti-bg) var(--noti-bg-alpha);
              border: var(--border);
              border-radius: var(--border-radius);
              color: var(--text-color);

              &:disabled {
                background: initial;
                color: var(--text-color-disabled);
                border: var(--border);
                border-color: transparent;
              }

              &:hover {
                background: var(--noti-bg-hover);
              }
            }
          }
        }
      }

      .notification-alt-actions {
        background: none;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        padding: $margin / 2;
      }

      .notification-action {
        /* The alternative actions below the default action */
        margin: $margin / 2;
        padding: 0;

        & > button {
          border-radius: var(--border-radius);
          color: var(--text-color);
        }
      }
    }
  }
}

.notification-group {
  /* Styling only for Grouped Notifications */
  transition: opacity 200ms ease-in-out;

  // &:focus {
  //   background: var(--noti-bg-focus);
  // }

  &.low {
    /* Low Priority Group */
  }

  &.normal {
    /* Normal Priority Group */
  }

  &.critical {
    /* Critical Priority Group */
  }

  /* The groups close button */
  .notification-group-close-button .close-button {
    margin: $margin * 1.5 $margin * 2.5;
  }

  %header {
    margin: 0 $margin * 2;
    color: var(--text-color);
  }

  .notification-group-headers {
    /* Notification Group Headers */
    @extend %header;

    .notification-group-icon {
      color: var(--text-color);
      -gtk-icon-size: var(--notification-group-icon-size);
    }

    .notification-group-header {
      color: var(--text-color);
    }
  }

  .notification-group-buttons {
    /* Notification Group Buttons */
    @extend %header;
  }

  &.collapsed {
    /* When another group is expanded, lower the opacity of the collapsed ones */
    &.not-expanded {
      opacity: 0.4;
    }

    .notification-row {
      .notification {
        background-color: var(--noti-bg);
      }

      &:not(:last-child) {
        /* Top notification in stack */
        /* Set lower stacked notifications opacity to 0 */
        .notification-action,
        .notification-default-action {
          opacity: 0;
        }
      }
    }

    &:hover {
      .notification-row:not(:only-child) {
        .notification {
          background-color: var(--noti-bg-hover);
        }
      }
    }
  }
}

.control-center {
  /* The Control Center which contains the old notifications + widgets */
  background-color: var(--cc-bg);
  color: var(--text-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--noti-bg-hover);

  .control-center-list-placeholder {
    /* The placeholder when there are no notifications */
    opacity: 0.5;
  }

  .control-center-list {
    /* List of notifications */
    background: transparent;

    .notification {
      box-shadow: var(--notification-shadow);

      .notification-default-action,
      .notification-action {
        transition: var(--group-collapse-tranistion), var(--hover-tranistion);
      }
    }
  }
}

.blank-window {
  /* Window behind control center and on all other monitors */
  background: transparent;
}

.floating-notifications {
  background: transparent;

  .notification {
    box-shadow: none;
  }
}

/*** Widgets ***/
.widget {
  margin: $margin;
  padding: $margin;
  border-radius: var(--border-radius);
}

@mixin toggle-button-background {
  background: var(--ctp-#{$theme}-base);

  &:checked,
  &:active {
    background: var(--ctp-#{$theme}-surface0);
  }

  &:hover {
    margin: 3px solid green;
  }
}

/* Title widget */
@import "widgets/title";
/* DND widget */
@import "widgets/dnd";
/* Label widget */
@import "widgets/label";
/* Mpris widget */
@import "widgets/mpris";
/* Buttons widget */
@import "widgets/buttons";
/* Menubar widget */
@import "widgets/menubar";
/* Volume widget */
@import "widgets/volume";
/* Slider widget */
@import "widgets/slider";
/* Backlight widget */
@import "widgets/backlight";
/* Inhibitors widget */
@import "widgets/inhibitors";
