[Unit]
Description=Sway compositor session
Documentation=man:systemd.special
BindsTo=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
# vim: set ts=4 sw=4 tw=0 noet ft=systemd :
