# Profile used at home with the white tower
profile white-tower {
{% if kanshi_version.split('.') | map('int') | list >= [1, 6, 0] %}
	output "ASUSTek COMPUTER INC VG248 M1LMQS118673" {
		mode 1920x1080@164.917Hz
		transform 90
		position 0,0
		adaptive_sync on
	}
	output "ASUSTek COMPUTER INC VG248 M1LMQS118675" {
		mode 1920x1080@164.917Hz
		transform normal
		position 1080,420
		adaptive_sync on
	}
{% elif kanshi_version.split('.') | map('int') | list >= [1, 4, 0] %}
	output "ASUSTek COMPUTER INC VG248 M1LMQS118673" mode 1920x1080@164.917Hz transform 90 position 0,0 adaptive_sync on
	output "ASUSTek COMPUTER INC VG248 M1LMQS118675" mode 1920x1080@164.917Hz transform normal position 1080,420 adaptive_sync on
{% else %}
	output "ASUSTek COMPUTER INC VG248 M1LMQS118673" mode 1920x1080@164.917Hz transform 90 position 0,0
	output "ASUSTek COMPUTER INC VG248 M1LMQS118675" mode 1920x1080@164.917Hz transform normal position 1080,420
{% endif %}
	exec ~/.config/kanshi/notify.sh 'white-tower'
}

{% set ns = namespace(manufacturer="ASUSTek COMPUTER INC") %}
{% if ansible_hostname == 'hbuyse-latitude5400' %}
    {%- set ns.manufacturer = "Unknown" %}
{% endif %}
# Profile used at home when connected to the WD19 dock
#
# Check the link below for the max usable resolution:
#   https://www.dell.com/support/manuals/en-us/dell-wd19-130w-dock/wd19_userguide/display-resolution-table?guid=guid-5558fc88-5c31-4e2c-90be-42359855a1ae&lang=en-us
profile home-dock {
{% if kanshi_version.split('.') | map('int') | list >= [1, 6, 0] %}
	output "{{ ns.manufacturer }} VG248 M1LMQS118673" {
		mode 1920x1080@60.000Hz
		transform 90
		position 0,0
		adaptive_sync off
	}
	output "{{ ns.manufacturer }} VG248 M1LMQS118675" {
		mode 1920x1080@60.000Hz
		transform normal
		position 1080,420
		adaptive_sync off
	}
{% elif kanshi_version.split('.') | map('int') | list >= [1, 4, 0] %}
	output "{{ ns.manufacturer }} VG248 M1LMQS118673" mode 1920x1080@60.000Hz transform 90 position 0,0 adaptive_sync off
	output "{{ ns.manufacturer }} VG248 M1LMQS118675" mode 1920x1080@60.000Hz transform normal position 1080,420 adaptive_sync off
{% else %}
	output "{{ ns.manufacturer }} VG248 M1LMQS118673" mode 1920x1080@60.000Hz transform 90 position 0,0
	output "{{ ns.manufacturer }} VG248 M1LMQS118675" mode 1920x1080@60.000Hz transform normal position 1080,420
{% endif %}
	output "eDP-1" disable
	exec ~/.config/kanshi/notify.sh 'home-dock'
}
