[
  {
    "layer": "top",
    "position": "top",
    "height": 32,
    "modules-left": ["sway/workspaces"],
    "modules-center": ["sway/mode", "custom/wf-recorder"],
    "modules-right": [
      // "custom/playerctl",
      "custom/weather",
      "custom/sunset",
      "custom/idle_inhibitor",
      "custom/updates",
{% if ansible_os_family != "Debian" %}
      "bluetooth",
{% endif %}
      "backlight",
      "pulseaudio",
      "sway/language",
{% for interface in ansible_facts | dict2items | selectattr('value.module', 'defined') | map(attribute='value') | list | sort(attribute='device') %}
      "network#{{ interface.device }}",
{% endfor %}
      "clock",
      "custom/power",
    ],
    "include": ["~/.config/waybar/modules.jsonc"]
  },
  {
    "layer": "top",
    "position": "bottom",
    "height": 30,
{% if ansible_os_family != "Debian" %}
    "modules-left": [
      "systemd-failed-units",
      "privacy",
    ],
{% endif %}
    "modules-right": [
{% if ansible_os_family != "Debian" %}
      "power-profiles-daemon",
{% endif %}
{% for mount in ansible_mounts|selectattr('fstype','in','ext4,vfat')|sort(attribute='mount') %}
      "disk#{{ mount.mount | replace('/', '_')}}",
{% endfor %}
      "memory",
      "cpu",
      "custom/battery",
{% if ansible_os_family != "Debian" %}
      "tray",
{% endif %}
    ],
    "include": ["~/.config/waybar/modules.jsonc"]
  }
]
