[Desktop Entry]
Name=Mattermost (native)
Comment=Mattermost Desktop application for Linux
Exec="{{ mattermost_desktop_install_dir }}/mattermost-desktop" %U
Terminal=false
Type=Application
MimeType=x-scheme-handler/mattermost
Icon={{ mattermost_desktop_install_dir }}/app_icon.png
Categories=Network;InstantMessaging;
