conky.config = {
  alignment = 'top_left',
  background = false,
  default_color = 'A6ADC8',
  color2 = 'CDD6F4',
  cpu_avg_samples = 2,
  double_buffer = true,
  font = 'Iosevka Nerd Font Mono:size=10',
  gap_x = 20,
  gap_y = 50,
  minimum_width = 300,
  no_buffers = true,
  own_window = true,
  own_window_type = 'override',
  own_window_transparent = true,
  update_interval = 1.0,
  use_xft = true,
  xinerama_head = 0,
}
conky.text = [[
# Date and time
${voffset 8}${color2}${font Iosevka Nerd Font Mono:size=17}${time %A}${font}\
${voffset -8}${alignr}$color${font Iosevka Nerd Font Mono:size=39}${time %e}${font}
${color}${voffset -30}$color${font Iosevka Nerd Font Mono:size=19}${time %b}${font}\
${voffset -3} ${color}${font Iosevka Nerd Font Mono:size=21}${time %Y}${font}${color2}${hr}
#
${voffset 15}${color}${font Iosevka Nerd Font Mono:bold:size=10}${execi 10000 lsb_release -ds | sed -e 's/"//g'}
${color}${font Iosevka Nerd Font Mono:bold:size=10}Uptime: ${alignr}${color2}${font}${uptime_short}
${color}${font Iosevka Nerd Font Mono:bold:size=10}Kernel: ${alignr}${color2}${font}${kernel}
#
# CPU
${voffset 10}${color}${font Iosevka Nerd Font Mono:bold:size=10}CPU - ${freq_g}GHz - ${cpu cpu0}% ${hr}
${cpugraph cpu0}
{% for i in range(ansible_processor_vcpus) %}
{% if i % 2 == 1 %}${alignr}{% endif %}
${cpubar cpu{{ i }} 6,148}{% if i % 2 == 0 %}\{% endif %}

{% endfor %}
#
${voffset 10}${color}${font Iosevka Nerd Font Mono:bold:size=10}Memory ${hr}
${font}${color}RAM:${alignr}${font}${color2}${mem} / ${memmax}
{% if ansible_swaptotal_mb != 0 %}
${font}${color}Swap:${alignr}${font}${color2}${swap} / ${swapmax}
{% endif %}

{% if ansible_virtualization_role != "guest" %}
${color}${font Iosevka Nerd Font Mono:bold:size=10}Temperature ${hwmon {{ coretemp_hwmon_number }} temp 1} °C ${hr}
{% for id in coretemp_hwmon_ids %}
{% if loop.index % 2 == 0 %}${alignr}{% endif %}
${font}${color}CPU {{ "{:>2}".format(loop.index) }}: ${font}${color2}${hwmon {{ coretemp_hwmon_number }} temp {{ id }}} °C{% if loop.index % 2 == 1 %}\{% endif %}

{% endfor %}
{% endif %}

# Mountpoints
${color}${font Iosevka Nerd Font Mono:bold:size=10}File System ${hr}
{% for mount in ansible_mounts|selectattr('fstype','in','ext4,vfat')|sort(attribute='mount') %}
${font}${color}{{ mount.mount }}:${alignr}${color2}${fs_used_perc {{ mount.mount }}} % - ${fs_used {{ mount.mount }}} / ${fs_size {{ mount.mount }}}
{% endfor %}
]]
-- vim: set ts=4 sw=4 tw=0 noet ft=lua :
