[Unit]
Description=Swaync notification daemon
Documentation=https://github.com/ErikReider/SwayNotificationCenter
PartOf=wayland-session.target
After=wayland-session.target
# ConditionEnvironment requires systemd v247 to work correctly
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecStart=/usr/bin/swaync --skip-system-css
ExecReload=/usr/bin/swaync-client --reload-config ; /usr/bin/swaync-client --reload-css
Restart=on-failure
RestartSec=5

[Install]
WantedBy=wayland-session.target
;  vim: set ts=4 sw=4 tw=0 noet ft=systemd :
