local packages = {
  'hbuyse.lazy_config',
  'hbuyse.mappings',
  'hbuyse.lsp',
{% if ansible_hostname == 'hbuyse-latitude5400' %}
  'hbuyse.work',
{% endif %}
}
for _, v in ipairs(packages) do
  require(v)
end
-- vim: set ts=2 sw=2 tw=0 et ft=lua :
